<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifehackig.fitnessapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.signin.LogInActivity"
            android:theme="@style/NoBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.signup.SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.signin.LogInActivity" />
        </activity>
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.day.DayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity android:name=".ui.log_exercise.LogExerciseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.day.DayActivity" />
        </activity>
        <activity android:name=".ui.workouts.WorkoutsActivity" />
        <activity android:name=".ui.workout_details.WorkoutDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.workouts.WorkoutsActivity" />
        </activity>
        <activity android:name=".ui.account.AccountActivity" />
        <activity android:name=".ui.base.BaseActivity" />
        <activity android:name=".ui.new_exercise.NewExerciseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.log_exercise.LogExerciseActivity" />
        </activity>
    </application>

</manifest>